* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

h1 {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 900;
    font-size: 6rem;
    line-height: 7rem;
    color: $white;
}

h2 {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 5rem;
    color: $blue;
}

p {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    color: $blue;
}

