* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

h1 {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 900;
    font-size: 6rem;
    line-height: 7rem;
    color: $white;
}

h2 {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 5rem;
    color: $blue;
    padding-bottom: 4.2rem;
}

p {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    color: $blue;
    padding-bottom: 4rem;
}

h3 {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3rem;
    color: $purple;
}

.mission-about-content {
    
    .mission-text-content, .about-text-content {
        @media screen and (max-width: $md) {
            order: 2;
            margin-top: 4rem;
        }
    }
}


