// Mobile - Tablet
@media screen and (max-width: 1024px) {
    .burger-menu-container {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 1000;
        width: 4rem;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    .header404 {
        height: 100vh;
        display: none;
        overflow-y: scroll;
        background-color: $yellow;

        &.active {
            display: block;
        }

        &__navigation {
            display: flex;
            flex-direction: column;
            margin-top: 8rem;
            font-size: 20px;
            max-width: 80%;

            nav ul {
                display: flex;
                flex-direction: column;
                align-items: center;

                li {
                    margin: 3rem;

                    .switcher-2 {
                        padding-left: 1rem;
                    }
                }
            }
        }
    }

    .footer404 {
        display: none;

        &.active {
            display: none;
        }
    }
}