.banner {
    height: 93vh;

    &__image {
        object-fit: cover;
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
    }

    .banner-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        //width: 100%;
        max-width: 78.8rem;
        padding: 0 2rem;

        &__text {
            padding-bottom: 6.1rem;
        }
    }
}