.banner404 {
    min-height: 100vh;
    display: flex;
    align-items: center;

    .container {
        position: relative;
        display: flex;
        margin: 0 auto;
        flex: 1;
    }

    &__image404 {
        object-fit: cover;
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__content {
        padding-block: 100px;
        max-width: 89rem;
        padding-left: 1.8rem;
        padding-top: 152px;

        h1 {
            padding-bottom: 4.2rem;

            @media screen and (max-width: $md) {
                font-size: 4rem;
                line-height: 5rem;
            }
        }

        h2 {
            max-width: 82rem;
            color: $white;

            @media screen and (max-width: $md) {
                font-size: 2rem;
                line-height: 3rem;
            }

            a {
                color: $white;
            }
        }
    }
}