.buttons {
    border-radius: 15px;
    padding: 2.1rem 4.7rem;
    cursor: pointer;
    
    @media screen and (max-width: 1090px) {
      padding: 1.1rem 2.7rem;
    }

    @media screen and (max-width: $xs) {
      padding: 1rem 1rem;
    }

    border: none;
    transition: all ease-in-out 0.2s;

    &:hover {
        background-color: $blue;
    }

    &.bg-blue:hover {
        background-color: $yellow;
        color: $blue;
    }

}

.other-buttons {
      padding: 2.1rem 10.8rem;
      border-radius: 15px;
      font-family: Proxima Nova, sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 1.6rem;
      line-height: 1.9rem;
      cursor: pointer;
      transition: all ease-in-out 0.2s;

      &.bg-blue:hover {
        background-color: $yellow;
        color: $blue;
      }

      &.bg-purple:hover {
        background-color: $white;
        color: $purple !important;
      }
}