.donate {
    margin-top: 14.1rem;
    @media screen and (max-width: $ip) {
        margin-top: 6rem;
    }

    &__text {
        padding: 0 1.5rem;
    }

    .donate-buttons {
        margin-top: 4.2rem;

        @media screen and (max-width: $md) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        
        &__two {
            padding: 0.3rem 6.7rem !important;

            @media screen and (min-width: $md) {
                padding: 2.1rem 6.7rem !important;
            }

            span {
                padding: 0 0.9rem 0 0;
            }
            
            img {
                vertical-align: middle;
                padding: 0 0 0 0.9rem;
            }
        }
    
        button {
            margin: 4rem 3rem;
            border: none;
        } 
    }
}