.header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 0 7px #555;

    .header-navigation {
        margin-top: 20px;
        transition: margin-top .3s linear;
        padding-bottom: 2rem;



        @media screen and (max-width: $desktop) {
            //position: absolute;
            justify-content: space-between;
            width: 83%;
        }

        .logo-link {
            @media screen and (max-width: $lg) {
                font-size: 3rem;
            }
        }

        .header-navigation__list {
            .header-navigation__item {
                padding-left: 5rem;
                padding-right: 5rem;

                @media screen and (max-width: $desktop) {
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
            }
        }

        nav ul li {

            a,
            span {
                color: white;
                font-weight: 500;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.6rem;
                line-height: 1.9rem;
                font-family: 'Proxima Nova', sans-serif;
            }

            .active {
                font-weight: bold;
                border-bottom: 1px solid #fff;
            }
        }


        .language-switcher {
            .language-switcher-item {
                display: flex;
                margin-left: 1rem;

                &:nth-last-child(2) {
                    padding-left: 5rem;

                    @media screen and (max-width: $ls) {
                        padding-left: 2rem;
                    }
                }


                &:not(:last-child) {

                    &:after {
                        content: "";
                        display: block;
                        height: 20px;
                        width: 0.1rem;
                        background-color: #fff;
                        margin-left: 1rem;
                    }
                }

                .switcher-2{
                    cursor: pointer;
                }
            }
        }
    }


}

// .header.hide {
//     transform: translateY(-100%);
// }