.header-navigation {
    position: fixed;
    width: 100%;
    z-index: 1;

    nav ul li {
        padding-left: 5rem;

        &:not(:last-child) {
            padding-right: 5rem;
        }

        a,
        span {
            font-family: $ff-proxima;
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: white;
            font-weight: 500;
            text-decoration: none;
            text-transform: uppercase;
        }

        a.active-1:active{
            font-weight: bold;
            text-decoration: underline;
        }

        a.active-2:active{
            font-weight: bold;
            text-decoration: underline;
        }
    }
}