// Mobile - Tablet
@media screen and (max-width: 760px) {
  .header {
    height: 100vh;
    &.active {
      display: block;
    }
  }
}

@media (min-width: 760px) and (max-width: 1024px) {
  .header {
    height: 100vh;
    &.active {
      display: block;
      position: absolute;
    }

  }
}

@media screen and (max-width: $md) {
  .burger-menu-container {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 1000;
    width: 4rem;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .header {
    height: 100vh;
    display: none;
    overflow-y: scroll;
    background-color: $yellow !important;
    
    // &.active {
    //   display: block;
    //   //position: absolute;
    // }

    .header-navigation {
      display: flex;
      flex-direction: column;
      margin-top: 9rem;
      font-size: 20px;

      .header-logo {
          display: block;
      }

      nav,
      .header-navigation__list {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .header-navigation__item {
        margin: 3rem;
      }

      .language-switcher-item {

        &:nth-last-child(2) {
          padding-left: 0;
        }

        .switcher-2 {
          padding-left: 1rem;
        }
      }
    }
  }

  .mission-about  {
    margin-top: 9rem !important;
  }
}

