
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 13.8rem; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 3rem;
  border: 3px solid #888;
  width: 25%;
  color: red;
  border-radius: 20px;

  label, input{
    font-family: $ff-proxima;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  .donate-submit {
    padding: 0.5rem 2rem;
    background-color: $blue;
    border: none;
    color: white;
    border-radius: 15px;
  }
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 2.8rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
